.promo-card {
    max-width: 301px;
    width: 33%;
    height: 200px;
    border-radius: 20px;
opacity: var(--Quantity, 1);
background: url('../media/promo1.png') no-repeat center center;
background-size: contain;
margin-right: 20px;
    }

    .promo-card:not(:last-child) {
        margin-right: 20px;
    }

@media screen and (max-width: 850px) {
    .promo-card {
        max-width: 361px;
        width: 100%;
        position: relative;
        background: url('../media/promo-mobile.jpg') no-repeat center center;
        background-size: contain;
        margin: 0px;
        height: 120px;
      }
}